{% extends 'base.html' %}

    {% block content %}
      <div class="container">
        <p class="lead mt-3 text-center">
           This Blog ?
          </p>
          <p class="lead mt-3">
            This blog is a form of support intended for beginners in python, the idea is to provide
              basic and elementary knowledge for a good understanding of python and also about programming,
              you will find courses, tutorials and projects as exercises.
          </p>

          <p class="lead mt-3">
            Behind this contribution is a web application built in python via its Django framework,
              and some html, css, bootstrap and Sql.
          </p>

          <p class="lead mt-3">

            If you are looking for a blog like this one, you can order it, and enjoy a responsive blog with a simplified
              and extensible dashboard adapted to your activity, if so, you can tell at
              <a href="#">
                  steponetuto@gmail.com
              </a>
          </p>


      </div>

    {% endblock %}